.record-step2 .home-humility {
  text-align: center; }

.record-step2 .home-fa-twitter {
  margin-left: 2em; }

.record-step2 .card-header h2 {
  font-weight: normal;
  font-size: 24px; }

.record-step2 .card-block p {
  color: #414965;
    font-weight: bolder;
    line-height: normal;
    width: 93%;
  margin: 0px auto 15px; }

.record-step2 .card-block ol li {
  font-size: 12px;
  color: black;
  margin-bottom: 10px; }

.record-step2 .card-block label {
  font-size: 13px; }

.record-step2 .form-check.d-flex span {
  height: 21px !important; }

.record-step2 .card.single .card-block .btn-primary {
    margin-top: 50px !important;
}