.record-step1 ::placeholder {
  color: #333; }

.record-step1 .home-humility {
  text-align: center; }

.record-step1 .home-fa-twitter {
  margin-left: 2em; }

.record-step1 .card-header h2 {
  font-weight: normal;
  font-size: 24px;}

.record-step1 .card-block p {
  color: #414965;
  font-weight: bolder;
    font-size: 16px;
    line-height: 26px;
    width: 95%;
    margin: 12px auto 30px;
}

.record-step1 .input-group {
  width: 100%;
  margin: 0 auto;
  position: relative;
    height: 40px;
    max-width: 336px;
}
  .record-step1 .input-group input {
      font-size: 16px;
    padding-top: 25px; }
  .record-step1 .input-group label {
    position: absolute;
    top: 3px;
    left: 13px;
    z-index: 9;
    color: #ced4db;
      display: none;
    font-size: smaller;
    padding-top: 3px; }
  .record-step1 .input-group span {
    position: absolute;
    right: 13px;
      top: 7px;
    z-index: 9; }
    .record-step1 .input-group span i {
      border: 1px solid gray;
      border-radius: 50%;
      font-size: 20px; }

.record-step1 .chip-sec {
  width: 100%;
  margin: 0 auto;
    max-width: 342px;
  margin-top: 10px; }
  .record-step1 .chip-sec .chip {
    margin: 3px;
    min-height: 27px;     height: auto;}
    .record-step1 .chip-sec .chip span {
      font-size: smaller; }
    .record-step1 .chip-sec .chip svg {
      font-size: large; }
